xsd/ApartirDasClassesGenericas/schema2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="aStringOfFields" abstract="true"/>

  <xs:complexType name="xmlAdapter" abstract="true"/>

  <xs:complexType name="format" abstract="true"/>
</xs:schema>

